@model IEnumerable<BPropertyManagement.Models.RealtorDto>

@{
    ViewBag.Title = "Create";
}

<h2>Create Property</h2>

<form action="/Property/Create" method="post">
    <div>
        <label>Property Name:</label><input name="PropertyName" />
    </div>
    <div>
        <label>Type:</label><input type="text" name="Type" />
    </div>
    <div>
        <label>Style:</label><input type="text" name="Style" />
    </div>
    <div>
        <label>Size:</label><input name="Size" type="text" placeholder="size in sqft" />
    </div>
    <div>
        <label>List Price:</label><input type="number" name="ListPrice" />
    </div>
    <div>
        <label>Realtor Id:</label>
        <!--<input type="number" name="RealtorId" />-->
        <select name="RealtorId">
            @foreach (var realtor in Model)
            {
                <option value="@realtor.RealtorId">@realtor.RealtorName</option>
            }
        </select>
    </div>
    <div>
        <input type="submit" value="Add Property"  /> <a style="border:1px solid black; color: black; padding:3.6px 8px; border-radius:2px; background-color: lightgray; text-decoration:none;  " href="/Property/List">Cancel</a>
    </div>

</form>

