@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    B Property Management<br />
    Milton, ON L9E 1K4<br />
    <abbr title="Phone">P:</abbr>
    647.425.5134
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@BPropertyManagement.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Sales@BPropertyManagement.com</a>
</address>